.App {
  text-align: center;
}

.App-header {
  background-color: #F5F5F5; /* Light Gray Background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #212121; /* Dark Gray Text */
}

.App-link {
  color: #6200EE; /* Deep Purple */
}